<html>
    <head>
        <title>
            HBS demo
        </title>
    </head>

    <body>
        {{> header}}
        <hr/>
        
        <h1>
            About Page
        </h1>
    <p>
        Welcome {{ user.name }}! You are {{ user.age }} years old!
    </p>
    </body>
</html>