<html>
    <head>
        <title>
            HBS demo
        </title>
    </head>

    <body>
        {{> header}}
        <hr/>
        <h1>
            HBS Works!
        </h1>

    </body>
</html>